.heading {
  font-size: 20px;
  font-weight: 600;
  color: #f8fafc;
}
.form-container {
  background-color: #454f84;
  border-radius: 10px;
  width: 100%;
  padding: 14px;
}
@media (min-width: 767px) {
  .form-container {
    width: 50%;
  }
}
.input-container {
  display: flex;
  justify-content: center;
  height: 42px;
  align-items: center;
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  margin-bottom: 15px;
}
.input-icon {
  height: 30px;
  padding: 5px 10px;
}
.input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 7px;
  border-left: 1px solid #454f84;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.add-button {
  background-color: #0b69ff;
  border-radius: 8px;
  padding: 8px 20px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #f8fafc;
}
.button-container {
  width: 100%;
  text-align: right;
}
